@import "./calculator",  "./moreInfo", "./resultField";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
};
body {
    background: #1C2335;
    width: 100%;
    height: 100%;
  };

