.container {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 40px auto 0px auto;
}
.input-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breakpoint-title {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 1.8rem;
}

label {
    font-size: 10px;
    color: #ffffffb6;
    padding: 3px;
}

input {
    background-color: transparent;
    border: 1px solid white;
    height: 30px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    outline: none;
    width: calc(100%/2);
    max-width: 200px;
    margin-right: 5px;
    font-size: 0.7rem;
}

input:focus {
    border: 2px solid white;
    background: #0e111a;
    
}


.button-container {
    margin-top: 30px;
    width: 100%;
  }
  button {
    display: inline-block;
    background-color:#51586B ;
    border: 1px solid #51586B;
    padding: 10px 15px;
    border-radius: 15px;
    margin-left: 10px;
    outline: none;
  }
  button:hover {
      border: 1px solid white;
  }