.message-field{
    text-align: center;
    margin-top: 15px;
  }
  .message-field p{
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 5px;
  }
  p.bold {
    font-weight: bold;
  }
  
  .description-container {
      max-width: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }